h1 {
  font-family: 'Lily Script One', cursive;
  font-size: 5rem;
}
a:hover {
  cursor: pointer;
}

.content-area {
  background-image: url('./images/food-background.jpg');
  height: 1000px;
}

.jumbotron {
 background-color: rgba(255, 255, 255, 0.74);
}

.button-container {
  width: 100%;
  position: relative;
  top: 200px;
  text-align:center;
}
.wide-btn {
  width: 50%;
  margin: 1rem;
}

.App {
  background-color: red;
}

.loader {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 200px;
}