h1 {
  font-family: 'Lily Script One', cursive;
  font-size: 5rem;
}

.landing-container {
  background-image: url('./images/food-background.jpg');
  height: 1000px;
}

.button-container {
  width: 100%;
  position: absolute;
  top: 300px;
  text-align:center;
}
.wide-btn {
  width: 50%;
  margin: 1rem;
}

.App {
  background-color: red;
}